### 6388040
###  Week 7 : Python library for relational table manipulation (Pandas)

In [3]:
import pandas as pd
import numpy as np
data = np.array(['a', 'b', 'c', 'd'])
s1 = pd.Series(data)
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
data = np.array([1,2,3,4])
s2 = pd.Series(data)
print(s2)

0    1
1    2
2    3
3    4
dtype: int32

In [5]:
data = np.array([1,'b',3,'d'])
s2 = pd.Series(data)
print(s2)

0    1
1    b
2    3
3    d
dtype: object

In [8]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [26]:
s = pd.Series([5, 0, 3, 2, 1], index = ['a', 'b', 'c', 'd', 'e'])
print(s[0])
print(s[1])
print(s[2])

print(s[['a']])
print(s[['b']])

print(s[['a', 'c', 'd']])

5
0
3
a    5
dtype: int64
b    0
dtype: int64
a    5
c    3
d    2
dtype: int64

In [39]:
import pandas as pd
df = pd.DataFrame()
print(df)

data = [5, 3, 2, 1, 4]
df1 = pd.DataFrame(data)
print(df1)

data = [['Alex',10],['Bob',12],['Clarke',13]]
print(type(data))
df2 = pd.DataFrame(data,columns=['Name','Age'])
print(df2)

Empty DataFrame
Columns: []
Index: []
   0
0  5
1  3
2  2
3  1
4  4
<class 'list'>
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [38]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
        'Age':[28, 34, 29, 42]}
print(type(data))
df = pd.DataFrame(data)
print(df)

<class 'dict'>
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [50]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
print(type(d))
df = pd.DataFrame(d)
print(df)

<class 'dict'>
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [93]:
studentDF = {'Math' : pd.Series([90, 10, 34, 23, 43], index = [0, 1, 2, 3, 4]),
            'C programming' : pd.Series([70, 20, 25, 32, 73]),
            'Java' : pd.Series([50, 41, 67, 34, 23]),
            'Web-programming' : pd.Series([55, 66, 23, 76, 67])}
df = pd.DataFrame(studentDF)
print(df)

   Math  C programming  Java  Web-programming
0    90             70    50               55
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67

In [71]:
print(df)
print(df[2:4])
print(df.loc[0])
print(df.loc[2])
print(df.loc[2:3])

   Math  C programming  Java  Web-programming
0    90             70    50               55
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67
   Math  C programming  Java  Web-programming
2    34             25    67               23
3    23             32    34               76
Math               90
C programming      70
Java               50
Web-programming    55
Name: 0, dtype: int64
Math               34
C programming      25
Java               67
Web-programming    23
Name: 2, dtype: int64
   Math  C programming  Java  Web-programming
2    34             25    67               23
3    23             32    34               76

In [76]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a', 'b'])
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [95]:
insertData = {'Math' : pd.Series([59, 41], index = [5, 6]),
            'C programming' : pd.Series([37, 34], index = [5, 6]),
            'Java' : pd.Series([84, 73], index = [5, 6]),
            'Web-programming' : pd.Series([82, 55], index = [5, 6])}
# insertData = pd.DataFrame([[59, 37, 84, 82], [41, 34, 73, 55]], columns = ['Math', 'C programming', 'Java', 'Web-programming'])
insertData = pd.DataFrame(insertData)
df = df.append(insertData)
print(df)

   Math  C programming  Java  Web-programming
0    90             70    50               55
1    10             20    41               66
2    34             25    67               23
3    23             32    34               76
4    43             73    23               67
5    59             37    84               82
6    41             34    73               55
5    59             37    84               82
6    41             34    73               55